h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Estadística', 'main.html#page/estadistica/')
                    +navTemaItem('2', 'Sistemas de unidades', 'main.html#page/unidades/')
                    +navTemaItem('3', 'Medición, masa y volumen', 'main.html#page/medicion_masa_volumen/')
                    +navTemaItem('4', 'Fichas técnicas y manuales', 'main.html#page/fichas/')
                    +navTemaItem('5', 'Preparación de soluciones', 'main.html#page/soluciones/')
                    +navTemaItem('6', 'Realización del muestreo', 'main.html#page/muestreo/')
                    +navTemaItem('7', 'Rotulado del muestreo', 'main.html#page/rotulado/')
