h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 2802012142-02 Coordinar la toma de muestras de agua de acuerdo con el plan de muestreo y guías técnicas 




