.container
    .header-ecored
        h1 1. Estadística
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid
            .col-12.col-md-8
                p.mb-0 Es la ciencia que se encarga de la recolección, ordenamiento, representación, análisis e interpretación de datos generados en una investigación sobre hechos, individuos o grupos de los mismos, para deducir de ello conclusiones precisas o estimaciones futuras (Castillo y Salazar, 2018. p. 13).
        
        .sub-ecored.mt-5#11
            h2 1.1 División de la estadística
        p De acuerdo con Castillo y Salazar (2018) la “estadística se divide en dos grandes ramas: estadística descriptiva o matemática y estadística inferencia” (p.14).

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-5.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid
                .sub-title.mt-3
                    h3 Estadística descriptiva 
                p.mt-3 Permite analizar todo un conjunto de datos, de los cuales se extraen conclusiones valederas, únicamente para ese conjunto. Un ejemplo sería el número de goles de un determinado jugador o el número de muestras rechazadas en un laboratorio.
            .col-12.col-md-5.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid
                .sub-title.mt-3
                    h3 Estadística inferencial
                p.mt-3 Busca obtener conclusiones generales de una determinada población, mediante el estudio de una muestra representativa sacada de ella. Un ejemplo sería la percepción de inseguridad en una ciudad, o la calidad de un cuerpo de agua.
        .sub-ecored.mt-5#12
            h3 1.2 Variables en la estadística
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid
            .col-12.col-md-8
                p Cuando se habla de variable se hace referencia a unas propiedades o características que puede variar, y que son susceptibles de medición. Algunos ejemplos pueden ser la edad, color de ojos, potencial de Hidrógeno (PH), temperatura y conductividad.
                p.mb-0 Estas variables están categorizadas en dos grandes grupos (Castillo y Salazar, 2018. pp. 15-17), que se describen a continuación:

        .container.timeline__wrapper
            .row.justify-content-center.px-sm-2.px-md-5.py-5
                .col-12.col-lg-11
                    section                          
                        .timeline-card-wrapper.tl--borders.pt-5    
                            .timeline-card
                                .timeline-card__head
                                    h3.text-white Variables cuantitativas
                                .timeline-card__body
                                    .row.justify-content-center.align-items-center
                                        .col-12.col-md-6
                                            img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid
                                        .col-12.col-md-6
                                            p Expresan valores numéricos. Pueden ser discretas (se determinan mediante conteos) o continuas (se determinan mediante medición). Algunos ejemplos pueden ser: peso, temperatura, altura entre otras.
                                            .sub-title.mt-4
                                                h3 Variables discretas
                                            p Son aquellas que toman valores aislados, es decir no admiten valores intermedios entre dos números. Un ejemplo puede ser: el número de mujeres en una población.
                                            .sub-title.mt-4
                                                h3 Variables continuas 
                                            p Son aquellas que puede tomar valores comprendidos entre dos números. Un ejemplo puede ser: la temperatura de diferentes muestras: 24,5 - 25,2 - 22,6.    
                            .timeline-card
                                .timeline-card__head
                                    h3.text-white Variables cualitativas
                                .timeline-card__body
                                    .row.justify-content-center.align-items-center
                                        .col-12.col-md-6
                                            img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                                        .col-12.col-md-6
                                            p.mt-0 expresan atributos o características. Algunos ejemplos pueden ser: nacionalidad, idioma, color de ojos, entre otras.

        .sub-ecored.mt-5#13
            h2 1.3 Medidas de tendencia central
        p Las medidas de posición o de tendencia central permiten determinar la posición de un valor respecto a un conjunto de datos, el cual se considera como representativo o típico para el total de las observaciones.

        .header-arrow.my-5
            h3.text-center Media aritmética
        p Busca el valor central del recorrido de la variable según la cantidad de observaciones, en otras palabras, es el promedio de los valores de la muestra (Castillo y Salazar, 2018. p. 50).

        p Su cálculo para datos desagrupados se efectúa mediante la siguiente ecuación: 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img7.png").img-fluid
        .row.justify-content-center.align-items-center.my-5.example-bg   
            .col-auto 
                p.mb-0.example Ejemplo 
            .col
                p.mb-0 hallar el caudal promedio a partir de las siguientes mediciones realizadas en un periodo de tiempo determinado: 1,8 l/s, 2,4 l/s, 2 l/s, 1,6 l/s, 1,4 l/s
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img8.png").img-fluid  

        .header-arrow.my-5
            h3.text-center Mediana
        p busca determinar el valor que tiene aquella observación que divide la cantidad de las mismas en dos mitades iguales.
        p Su cálculo para datos desagrupados se efectúa mediante las siguientes ecuaciones: 
        p En caso de que el número de datos sea par:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img9.png").img-fluid
        p En caso de que el número de datos sea impar:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img10.png").img-fluid
        p En los dos casos es necesario primero ordenar los datos de menor a mayor o viceversa (Castillo y Salazar, 2018. pp. 52-53). 
        .row.justify-content-center.align-items-center.my-5.example-bg   
            .col-auto 
                p.mb-0.example Ejemplo 1: 
            .col
                p.mb-0 se realizaron 12 mediciones de caudal obteniendo los siguientes resultados: 1,8 - 2,4 - 2 - 1,6 - 1,4 - 1,3 - 1,6 - 1,9 - 2,5 - 2,3 - 2,1 - 1,7
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img11.png").img-fluid
        p 1,3 - 1,4 - 1,6 - 1,6 - 1,7 - 1,8- <font color="red">1,85</font> - 1,9 - 2 - 2,1 - 2,3 - 2,4 - 2,5 
        .row.justify-content-center.align-items-center.my-5.example-bg   
            .col-auto 
                p.mb-0.example Ejemplo 2: 
            .col
                p se realizaron 12 mediciones de caudal obteniendo los siguientes resultados: 1,8 - 2,4 - 2 - 1,6 - 1,4 - 1,3 - 1,6 - 1,9 - 2,5 - 2,3 - 2,1 - 1,7 sin embargo, por error en el procedimiento se rechazó la última medición (1,7), obteniendo solo 11 datos válidos.
                p Se ordenan los datos: 
                p.mb-0 1,3 - 1,4 - 1,6 - 1,6 - 1,8 - 1,9 - 2 - 2,1 - 2,3 - 2,4 - 2,5
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img12.png").img-fluid 
        p 1,3 - 1,4 - 1,6 - 1,6 - 1,8 - <font color="red">1,9</font> - 2 - 2,1 - 2,3 - 2,4 - 2,5

        .header-arrow.my-5
            h3.text-center Moda
        p Es el valor de la variable que más se repite. Un conjunto de datos puede ser unimodal (una sola moda), bimodal (dos modas) o multimodal (más de dos modas) (Castillo y Salazar, 2018. p. 54). 
        .row.justify-content-center.align-items-center.mt-5.example-bg   
            .col-auto 
                p.mb-0.example Ejemplo 1: 
            .col
                p se realizaron mediciones de caudal obteniendo los siguientes resultados: 1,8 - 2,4 - 2 - 1,8 - 1,4 - 1,3 - 1,6 - 1,8 - 2,5 - 2,3 - 2,1 - 1,7
                p Al ordenar los datos se obtiene: 
                p 1,3 -1,4 - 1,6 - 1,7 - <font color="red">1,8 - 1,8 - 1,8</font> - 2 - 2,1 - 2,3 - 2,4 - 2, 5 
                p.mb-0 El valor que más se repite es 1,8.
        
        .sub-ecored.mt-5#14 
            h2 1.4 Medidas de dispersión
        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img13.png").img-fluid
            .col-12.col-md-8 
                p.mb-0 Las medidas de dispersión son las que se usan para obtener información sobre el grado de variabilidad de una variable, en otras palabras, los datos indican si una variable cambia drásticamente o más bien su cambio es muy poco con respecto a un número específico (variable de estudio). A continuación se revisa con mayor detenimiento la llamada desviación típica. 

        .header-arrow.my-5
            h3.text-center Desviación típica
        p proporciona el valor promedio de las desviaciones de los datos con relación a la media aritmética. Su cálculo para datos desagrupados se puede realizar mediante la siguiente ecuación: 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.png").img-fluid
        .row.justify-content-center.align-items-center.mt-5.example-bg  
            .col-auto 
                p.mb-0.example Ejemplo 1: 
            .col
                p.mb-0.py-1 En una práctica de laboratorio cinco personas diferentes realizaron la medición de pH a la misma muestra de agua obteniendo los siguientes resultados:  

        .row.justify-content-center.align-items-center.mt-5  
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img15.png").img-fluid
            .col-12.col-md-6 
                img.img-a(src="assets/images/pages/ilustraciones/img16.png").img-fluid

        p.mt-5 La desviación indica que los datos varían en promedio +/- 0,43 en relación con la media (x̄).
        p En todos los casos revisados anteriormente es necesario tener presente que el uso de herramientas ofimáticas como las hojas de cálculo, permiten el procesamiento rápido y sencillo de cantidades significativas de datos. Por lo que resulta necesario su estudio y práctica.  
