.container
    .header-ecored
        h1 2. Sistemas de unidades
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img17.png").img-fluid
            .col-12.col-md-8
                p Un sistema de unidades especifica las anteriormente mencionadas de las cantidades fundamentales de longitud, masa, tiempo y fuerza. Las unidades de otros términos se derivan de estas (Mott, 2006, p. 4). 

        .sub-ecored.mt-5#21    
            h2 2.1 Sistema internacional de unidades 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid
            .col-12.col-md-8
                p La referencia estándar para unidades de medida a nivel mundial es el Sistema Internacional de Unidades (SI) (Mott, 2006, p. 4). Nava et al (2001) indica que este cuenta con siete unidades bases para las magnitudes fundamentales como se muestra en la siguiente tabla: 
                img.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid
                P.text-centrer.mt-3 Fuente: Nava et al. 2001. p. 20. 

        .sub-ecored.mt-5#22    
            h2 2.2 Prefijos del sistema internacional de unidades
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid
            .col-12.col-md-8
                p Los prefijos son representados por símbolos que se anteponen a la unidad, y representan un factor por el que debe ser multiplicada la cantidad. En la siguiente tabla se presentan algunos de los prefijos más usados en nuestro campo de estudio.
                img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid 
                P.text-centrer.mt-3 Fuente: modificado de Nava et al. 2001. p. 35.                  

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-5.mr-2        
                .row.justify-content-center.align-items-center.example-bg  
                    .col-auto 
                        p.mb-0.example Ejemplo 1: 
                    .col
                        p.mb-0.py-1 11500 m=11,5*10#[sup 3] m=11,5 km   

            .col-12.col-md-5.ml-2        
                .row.justify-content-center.align-items-center.example-bg  
                    .col-auto 
                        p.mb-0.example Ejemplo 2: 
                    .col
                        p.mb-0.py-1 0,00528 g=5,28*10#[sup -3] g=5,28 mg 

        .sub-ecored.mt-5#23    
            h2 2.3 Uso de otras unidades
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid
            .col-12.col-md-8
                p Existen otras unidades que se usan con bastante frecuencia y que aun sin hacer parte del Sistema Internacional de Unidades, es posible emplearlas en conjunto. Entre estas encontramos: 
                .list.mt-4
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p El minuto (m): 1 m = 60 s 

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p La hora (h): 1h = 3600 s      

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p El día (d): 1 d = 24 h = 86400 s      

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p El litro (L,l): 1 L = 1 dm#[sup 3]= 10#[sup -3] m#[sup 3]      

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p La tonelada (t): 1 t = 10#[sup 3] kg 

        .sub-ecored.mt-5#24    
            h2 2.4 Unidades consistentes
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid
            .col-12.col-md-8
                p El desarrollo de los protocolos y procedimientos en este y diferentes campos de estudio involucra el uso de ecuaciones, cuyos elementos y resultados deben ser expresados empleando las unidades correctas. Por lo que, si las unidades en la ecuación no son consistentes, las respuestas serán erróneas (Mott, 2006, p. 9).
                p Por lo anterior para realizar procedimientos de cancelación de unidades Mott (2006) propone los siguientes pasos (pp. 9,10):
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-6  
                .list
                    .list__item
                        .list__item__number
                            span 1
                    .list__txt    
                        p Despejar de la ecuación el término que se desea.  

                .list
                    .list__item
                        .list__item__number
                            span 2 
                    .list__txt    
                        p Definir las unidades que se requieren para el resultado.  

                .list
                    .list__item
                        .list__item__number
                            span 3
                    .list__txt    
                        p Sustituir en la ecuación los valores con sus respectivas unidades.  

                .list
                    .list__item
                        .list__item__number
                            span 4
                    .list__txt    
                        p Cancelar las unidades de los términos que parezcan en el numerador y el denominador.                                         
            .col-12.col-md-6   
                .list
                    .list__item
                        .list__item__number
                            span 5
                    .list__txt    
                        p Utilizar los factores de conversión para eliminar las unidades no deseadas, y obtener las que se definieron previamente en el paso dos.  

                .list
                    .list__item
                        .list__item__number
                            span 6
                    .list__txt    
                        p Realizar el cálculo. 

        .row.justify-content-center.align-items-center.example-bg  
            .col-auto 
                p.mb-0.example Ejemplo: 
            .col
                p.mb-0.py-1 Se necesita conocer el tiempo que tardará en llenarse un tanque de 1000 L al usar una manguera por la que fluye un caudal de 0.4 L/s. 
        p.my-5 Se emplea la ecuación:  
        img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid 
        p Donde Q es caudal, v es volumen y t es tiempo. Luego se aplican los pasos anteriormente propuestos: 
        .list
            .list__item
                .list__item__number
                    span 1
            .list__txt    
                p Se despeja t de la ecuación: 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img25.png").img-fluid 
        .list
            .list__item
                .list__item__number
                    span 2
            .list__txt    
                p Propone las unidades del resultado, para este caso pueden ser minutos, ya que el ejercicio no especifica las unidades finales.

        .list
            .list__item
                .list__item__number
                    span 3
            .list__txt    
                p Se sustituye en la ecuación
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img26.png").img-fluid 
        p simplifica la fracción para 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img27.png").img-fluid         

        .list
            .list__item
                .list__item__number
                    span 4
            .list__txt    
                p Se cancelan las unidades y se aplican los factores de conversión (paso 5).
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img28.png").img-fluid 
        .list
            .list__item
                .list__item__number
                    span 5
            .list__txt    
                p Aplica los factores de conversión (y cancelación de unidades)
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img29.png").img-fluid 
        .list
            .list__item
                .list__item__number
                    span 6
            .list__txt    
                p Se realiza el cálculo para obtener el resultado.                                    
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img30.png").img-flui