.container
    .header-ecored
        h1 4. Fichas técnicas y manuales
    .jumbotron.bg-white
        .sub-ecored#41
            h2 4.1 Calibración de equipos 
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img54.png").img-fluid 
        p Para la Universidad Tecnológica de Pereira en su procedimiento para manejo de equipos, la calibración es:
        p El conjunto de operaciones que establecen, bajo condiciones especificadas, la relación entre los valores de magnitudes indicados por un instrumento o sistema de medición, o valores representados por una medida materializada o un material de referencia y los correspondientes valores aportados por patrones. Por lo tanto, la calibración solamente se puede realizar a instrumentos de medida de cualquier magnitud (tensión, corriente, resistencia, tiempo, frecuencia, potencia óptica, etc.) y que exprese la medida en las unidades básicas del Sistema Internacional (SI) o materiales de referencia (2019, p.3).

        p En los procesos experimentales y técnicos, el fin es obtener resultados que puedan arrojar el estado de una muestra, pero estos resultados deben tener total validez científica para que los estudios realizados sean aprobados tanto nacional como internacionalmente.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img55.png").img-fluid   
        p.card-type.px-4.py-4 De lo anteriormente expuesto, se obtiene la importancia de los procesos de calibración de los equipos e instrumentos usados, de acuerdo con el Instituto Colombiano de Normas Técnicas y Certificación [ICONTEC] (2017), en su Norma Técnica Colombiana [NTC] 17025 sobre requisitos generales para la competencia de los laboratorios de ensayo y calibración. En su ítem 6.4.6 especifica que se requiere calibración del equipo para establecer la trazabilidad metrológica de los resultados informados (p.7).

        p Es por esto que usualmente los laboratorios certificados deben mantener un programa de calibración en el cual especifique los procedimientos para mantener cada equipo o instrumento que requiera de este proceso en óptimas condiciones y la documentación pertinente.

        p Como este proceso puede variar entre las marcas y el tipo de instrumento, siempre es aconsejable que dependiendo del laboratorio donde se van a realizar los ensayos o del cual provengan los equipos de campo, se estudie los procedimientos, protocolos o instructivos de calibración con anterioridad. Es importante realizar siempre esta actividad según lo establecido en la documentación del equipo.

        p Sin embargo, a manera de estudio, puede ampliar la información de cómo calibrar algunos equipos en el manual de técnicas analíticas para la determinación de parámetros fisicoquímicos y contaminantes marinos del instituto de investigaciones marinas y costeras [INVEMAR] (2003), en el capítulo de parámetros in situ.

        p De igual forma, al ser un paso tan importante en materia de prácticas y ensayos de laboratorio, existen entidades que se dedican exclusivamente al desarrollo de actividades de calibración de equipos, que han sido certificadas para la misma y que ofrecen además un documento de soporte denominado certificados de calibración o informes de calibración.

        .sub-title.mt-5
            h3 Contenido de los certificados
        p De acuerdo con el Instituto Colombiano de Normas Técnicas y Certificación [ICONTEC] (2017), en su Norma Técnica Colombiana [NTC] 17025 sobre requisitos generales para la competencia de los laboratorios de ensayo y calibración, indica que el contenido mínimo necesario que debe contener un certificado de calibración se encuentra establecido en la norma internacional ISO 17025 en su numeral 7.8.2.1 Este incluye:

        .row.justify-content-center.align-items-stretch
            .col-12.col-md-6
                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Identificación del informe de ensayo, el nombre y dirección del laboratorio.

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p El lugar en que se realizan las actividades del laboratorio.

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Nombre del cliente o quien solicita el certificado.                                               

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Método utilizado.

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Descripción del instrumento bajo calibración.  

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Identificación del dueño del instrumento.

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Fecha de calibración y próximas calibraciones. 

            .col-12.col-md-6
                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Referencia al plan y método de muestreo usados para laboratorio.

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Método de calibración.

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Las condiciones relevantes observadas durante la calibración.                                              

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p El método de calibración.

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Las desviaciones o exclusiones del método.

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Una identificación clara cuando los resultados provengan de proveedores externos (p.17).  

        section.mt-5    
            a(href="http://biblioteca.SENA.edu.co/paginas/bases.html" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small Para ampliar diríjase a la base de datos del SENA/ICONTEC/ ISO 17025
                    p.text-small Ir a ICONTEC y buscar número 17025 para obtener el documento norma NTC 17025:2017 

        .sub-ecored.mt-5#42
            h2 4.2 Hojas de seguridad de productos químicos 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img56.png").img-fluid 
        p El manejo de diferentes sustancias químicas para el procesamientos de muestras de agua tanto en campo como en laboratorio, implica un riesgo para el personal que las manipula, este riesgo debe ser controlado, desde el almacenamiento, compra y transporte de la sustancia hasta el momento en el cual se materialice un accidente relacionado a ese producto; es por esto que debe existir un instrumento que le permita a las personas involucradas empleados o comunidad) o al personal de asistencia médica (o de servicios de respuesta ante emergencias), saber los compuestos, el tipo de manipulación, como almacenarla y cómo reaccionar ante un accidente con la misma.
        p Ese instrumento de gestión se denomina Hojas de seguridad de producto, en Colombia este es un elemento fundamental para toda la cadena de manipulación de las sustancias químicas y se convirtió en un eje estratégico para los sistemas de seguridad y salud en el trabajo en cualquier entidad (pública y privada).
        p La estructura de las hojas de seguridad y su uso obligatorio en las organizaciones fue impuesta por diferentes bases normativas:

        .row.justify-content-center.mt-5
            .col-10
                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img57.png").img-fluid    
                        p Decreto 1496 de 2018 (Por el cual se crea Sistema Globalmente Armonizado de Clasificación y Etiquetado de Productos Químicos y se dictan otras disposiciones en materia de seguridad química). 

            .col-10
                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img58.png").img-fluid    
                        p Norma Técnica Colombiana [NTC] 4435 de 1998 (Sistema Globalmente Armonizado de Clasificación y Etiquetado de Productos Químicos y se dictan otras disposiciones en materia de seguridad química). 

            .col-10
                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img59.png").img-fluid    
                        p Norma Técnica Colombiana [NTC] 4532 de 1998 (Transporte de mercancías, tarjetas de emergencia para transporte de materiales, elaboración).  

        p.mt-5 Estas hojas de seguridad son un instrumento que cuenta con 16 ítems o secciones, o también conocidas como fichas de seguridad [FDS], es importante aclarar que según el Ministerio de trabajo en la Resolución 1486 (2008) en el artículo 8º y 9º asigna a los fabricantes e importadores la responsabilidad de elaborar, revisar y actualizar las FDS (p.5).

        p Sin embargo, es responsabilidad de todos los que van a manipular estas sustancias, conocer la FDS y apropiar sus 16 ítems básicos que según la Organización de las Naciones Unidas para el Desarrollo Industrial [ONUDI] (2020), son:

        .hr-blue.mt-5
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 1 
                        .vl
                        .col  
                            p.mb-0 Identificación del producto. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 2
                        .vl
                        .col  
                            p.mb-0 Identificación de peligros. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 3
                        .vl
                        .col  
                            p.mb-0 Composición (información sobre los componentes).
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 4 
                        .vl
                        .col  
                            p.mb-0 Primeros auxilios. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date


            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 5 
                        .vl
                        .col  
                            p.mb-0 Medidas de lucha contra incendios. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 6 
                        .vl
                        .col  
                            p.mb-0 Medidas que deben tomarse en caso de vertido accidental. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 7
                        .vl
                        .col  
                            p.mb-0 Manipulación y almacenamiento. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 8 
                        .vl
                        .col  
                            p.mb-0 Controles de exposición. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 9 
                        .vl
                        .col  
                            p.mb-0 Propiedades físicas y químicas. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 10 
                        .vl
                        .col  
                            p.mb-0 Estabilidad y reactividad. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 11 
                        .vl
                        .col  
                            p.mb-0 Información toxicológica. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 12
                        .vl
                        .col  
                            p.mb-0 Información ecotoxicológica. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 13 
                        .vl
                        .col  
                            p.mb-0 Información relativa a la eliminación del producto. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 14 
                        .vl
                        .col  
                            p.mb-0 Información relativa a transporte. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 15 
                        .vl
                        .col  
                            p.mb-0 Información sobre la reglamentación. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date  

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    .row.justify-content-center.align-items-center.py-3
                        .col-auto
                            .list.ml-5
                                .list__item
                                    .list__item__number
                                        span 16 
                        .vl
                        .col  
                            p.mb-0 Otras informaciones (pp. 16-17). 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date 

        .sub-title.mt-5
            h3 Beneficios de FDS.
        p Para  la Organización de las Naciones Unidas para el Desarrollo Industrial [ONUDI] (2020), el uso de estas FDS otorgan beneficios  para garantizar la protección de la salud humana y del medio ambiente como lo es: conocer las características de la sustancia, comunicar los peligros, brindar información sobre elementos de protección, condiciones de almacenamiento, transporte, medidas en caso de emergencia, disposición o eliminación de la sustancia y su envase y por último es una herramienta que permite brindar información a entes de vigilancia y control de productos químicos (p.20).

        p Adicional se incluye a manera de ejemplo una ficha de seguridad para ampliar la información.

        section.mt-5    
            a(href="https://drive.google.com/file/d/17ILF_TBl6vgbcY4YV4b0AU0170OBFyLI/view?usp=sharing l" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small Fichas de seguridad de ácido sulfúrico
                    p.text-small Fuente: Servicio Nacional de Aprendizaje (SENA). 2018. Fichas de seguridad de ácido sulfúrico. Centro de gestión industrial. Laboratorio Ambiental. 

        .sub-ecored#43.mt-5
            h2 4.3 Manual de operación de equipos
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img60.png").img-fluid 
        p Para todas las empresas de hoy en día la capacitación de nuevo personal para la operación de un determinado equipo implica un gran reto y responsabilidad. Para ello es importante mantener actualizados los procedimientos. En este apartado se habla exclusivamente de los procedimientos de los equipos y los aspectos a tener en cuenta para realizar un manual de operación (Castañeda, 2017).
        p En cualquier equipo que se compra siempre viene un manual que dice sus funciones específicas. Cuando este equipo llega a una compañía conlleva un desafío para el personal que la opera por primera vez, ya que no ha tenido contacto con la máquina. Tiene que familiarizarse y sobre el camino monitorear su funcionamiento.
        p La mejor forma de realizar un manual de operaciones es hacerlo de la forma más sencilla, visual y amigable posible para despertar el interés y nutrir el conocimiento del personal.
        p Entonces, ¿Cuál es el objetivo de un manual de operación? Su respuesta se define como: obtener resultados consistentes en el desarrollo de nuevo personal, estandarizando el conocimiento de forma más rápida y sencilla posible.

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-5
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img61.png").img-fluid
            .col-12.col-md-7
                p Los beneficios de un manual de operaciones son:
                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Brinda el conocimiento de operación.                   

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p La información está al alcance para el desarrollo de nuevo personal.      

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Desarrolla al personal de una forma más rápida y minimiza los errores.      

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Es la base para mantener la forma de trabajar o en su caso mejorarla.                                               
        .hr-ecored
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-5
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img62.png").img-fluid
            .col-12.col-md-7
                p Un manual debe tener una estructura formal, para ello es muy importante que cuente elementos como:
                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Portada.                   

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Índice.     

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Desarrollo de la información.      

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Apoyo visual.

        .hr-ecored
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-5
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img63.png").img-fluid
            .col-12.col-md-7
                p El editor debe tener en cuenta que la persona que leerá este manual es alguien quien no ha tenido contacto con el equipo por lo que es de vital importancia:
                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Identificar los procedimientos de operación. Con base en ellos se debe separar las actividades que se realizan y asignar una secuencia.                   

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Redactar de  forma sencilla. No utilizar palabras demasiado técnicas, ya que la mayoría de los operadores no son personas con conocimientos de expertos.     

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Utilizar imágenes. La imagen deberá identificar el área de trabajo y cada una de las actividades. Esto ayuda al operador a interpretar la información de una manera más sencilla y recordarla posteriormente.     

                .list.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Es muy importante integrar cualquier información que directamente está ligada a la operación, por ejemplo, equipo de seguridad necesario, qué hacer en casos de emergencia etcétera. 
        
        p.mt-5 Este documento deberá estar aprobado por él o los operadores quienes fueron la fuente de información y por quienes autorizan su publicación.
        p El manual puede ser tan detallado como se quiera. Hay que tener en cuenta que, si es lo más específico posible, no se dará pauta a la duda.
        p No hay que olvidar que es un documento vivo y puede sufrir modificaciones, por lo que la información debe actualizarse y documentarse para ser compartida con todo el personal involucrado.
        p Por lo anterior es importante que antes de operar cualquier equipo se reciba la capacitación inicial y se disponga del manual de operación, reduciendo los errores de operación e incluso evitando su avería por una mala manipulación.
        p A continuación, se presentan a manera de ejemplo algunos manuales de operación para equipos que muy seguramente usted emplea durante las actividades prácticas:

        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6.my-3        
                section
                    a(href="https://drive.google.com/open?id=1hkJHpii4tum88hBBWm6m2f413xGWd1EW" target="_blank").media-link      

                        img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                        .media-link-title
                            p.text-small Servicio Nacional de Aprendizaje (SENA). 2018. Manual balanza analítica Ohaus Discovery. Centro de gestión industrial. 

            .col-12.col-md-6.my-3
                section    
                    a(href="https://drive.google.com/open?id=1A51vNDkop8KfR_VDsq6ken-6vOqulwNb" target="_blank").media-link      

                        img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                        .media-link-title
                            p.text-small Servicio Nacional de Aprendizaje (SENA). 2018. Manual balanza con analizador de humedad Lexus Dexter. Centro de gestión industrial.