.container
    .header-ecored
        h1 5. Preparación de soluciones
    .jumbotron.bg-white
        p Como ya se ha mencionado el muestreo involucra el uso de diferentes reactivos que son empleados para la preservación de muestras, por lo que es necesario abordar el siguiente tema sobre la preparación de soluciones,  brindando de esta manera los conceptos generales que más adelante serán puestos en práctica durante el desempeño en el laboratorio.
        .sub-ecored#51.mt-5
            h2 5.1 Disoluciones
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img64.png").img-fluid 
        p La disolución es una mezcla homogénea de dos o más sustancias. Donde la que se encuentra en mayor cantidad es denominada solvente o disolvente, y la que se encuentra en menor cantidad es denominada soluto. Las disoluciones pueden ser gaseosas (como aire), sólida (como una aleación) o líquida (como el agua de mar). (Chang, 2010, p. 106) 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img65.png").img-fluid 

        .sub-title.mt-5
            h3 Clasificación 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img70.png").img-fluid
            .col-12.col-md-8
                p Una alternativa de clasificar las soluciones mencionadas anteriormente, es por su estado de agregación (sólidas, líquidas y gaseosas). Otra manera de clasificar las soluciones puede ser según su solubilidad, de acuerdo a Cova (2018) estas pueden clasificarse en (p.7): 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4 
                img.img-a(src="assets/images/pages/ilustraciones/img67.png").img-fluid
                h3.mt-3 Saturadas 
                p Es la disolución que contiene la mayor cantidad de soluto posible en un volumen de disolvente dado y para una cierta temperatura. En ellas el soluto disuelto y no disuelto están en equilibrio dinámico entre sí.
            .col-12.col-md-4  
                img.img-a(src="assets/images/pages/ilustraciones/img68.png").img-fluid
                h3.mt-3 Sobresaturadas
                p Es la disolución que contiene más soluto del que puede ser disuelto en el disolvente a una temperatura dada. Normalmente se consigue al bajar la temperatura o por evaporación del disolvente en una solución saturada. En este caso, la adición de cristales de soluto puede provocar un precipitado.
            .col-12.col-md-4             
                img.img-a(src="assets/images/pages/ilustraciones/img69.png").img-fluid
                h3.mt-3 Insaturadas
                p Es aquella disolución que en un volumen solvente dado contiene menor cantidad de soluto de la que es capaz de disolver.

        .sub-title.mt-5
            h3 Unidades de concentración
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img71.png").img-fluid
            .col-12.col-md-8
                p En función de las unidades del soluto se puede expresar la concentración final de la solución así:

        .row.justify-content-center.mt-5
            .col-10
                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img72.png").img-fluid    
                        p Porcentaje masa/masa (% m/m): expresa los gramos de soluto en 100 g de disolución 
                        img.img-a.mt-3(src="assets/images/pages/ilustraciones/img84.png").img-fluid   

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img73.png").img-fluid    
                        p Porcentaje masa/volumen (% m/v): expresa los gramos de soluto en 100 mL de disolución 
                        img.img-a.mt-3(src="assets/images/pages/ilustraciones/img85.png").img-fluid 

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img74.png").img-fluid    
                        p Porcentaje volumen/volumen (% v/v): expresa los mililitros de soluto en 100 mL de disolución 
                        img.img-a.mt-3(src="assets/images/pages/ilustraciones/img86.png").img-fluid 

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img75.png").img-fluid    
                        .row.justify-content-center.align-items-center
                            .col
                                p Partes por millón (ppm): expresa lo miligramos de soluto en 1 kg de solución

                            .col-auto 
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img87.png").img-fluid 

                        .row.justify-content-center.align-items-center.mt-3
                            .col
                                p Dependiendo de la densidad de la solución también es posible indicar que 1 ppm corresponde también a 1mg de soluto en 1 L de solución.
                            .col-auto 
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img88.png").img-fluid                             

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img76.png").img-fluid    
                        p Molaridad (M): expresa la cantidad de soluto en moles por litro solución
                        img.img-a.mt-3(src="assets/images/pages/ilustraciones/img89.png").img-fluid 

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img79.png").img-fluid    
                        p Normalidad (N): expresa la cantidad de equivalentes de soluto en 1 L de solución 
                        img.img-a.mt-3(src="assets/images/pages/ilustraciones/img90.png").img-fluid 

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img78.png").img-fluid    
                        p Mide la cantidad de soluto requerido para la solución. 

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img80.png").img-fluid    
                        p Se introduce la cantidad previamente medida de soluto en el material volumétrico que se emplea para la preparación (ejemplo: matraz aforado). 

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img81.png").img-fluid    
                        p Se agrega un volumen de solvente inferior al volumen del material volumétrico y se mezcla. 

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img82.png").img-fluid    
                        p Se añade cuidadosamente el volumen de solvente hasta completar el volumen del material calibrado. 

                .card-media.text-white
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img83.png").img-fluid    
                        p Si la solución debe ser almacenada se debe trasvasar a un frasco y etiquetar.

        .sub-ecored#52.mt-5
            h2 5.2 Diluciones
        p Una dilución es diferente a una disolución. Cuando se habla de diluciones se hace referencia a la adición de solvente a una solución (Cova, 2018, p. 12). Por lo anterior una dilución tiene como objetivo disminuir la concentración de una solución.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img91.png").img-fluid
        p Su expresión matemática es la siguiente:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img92.png").img-fluid
        p donde 
        .list.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p C#[sub 1]es concentración inicial  

        .list.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p C#[sub 2]es concentración final

        .list.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p V#[sub 1]es volumen inicial

        .list.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p V#[sub 2]es volumen final 

        p.mt-5 Tenga en cuenta que los temas que conforman la presente unidad. Serán profundizados y reforzados mediante las prácticas de laboratorio presenciales programadas para este resultado.